body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:545px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:256px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:445px;
  height:255px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:34px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:445px;
  height:33px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:441px;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:72px;
  width:10px;
  height:10px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:35px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:133px;
  width:250px;
  height:34px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:198px;
  width:299px;
  height:34px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:133px;
  width:49px;
  height:34px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:45px;
  word-wrap:break-word;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:133px;
  width:236px;
  height:34px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:34px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:198px;
  width:282px;
  height:34px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:34px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:253px;
  width:299px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:295px;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:111px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:177px;
  width:40px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
